html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #1d1f20;
  overflow-y: hidden;
}

.video-window-wrapper {
  position: relative;
}

#subtitle {
  color: #eee;
  font-family: "Raleway";
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

#camera {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-family: "Raleway";
  font-size: 2.5rem;
}

#video {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.camera_arrow{
  position: relative;
}

.camera_arrow img:first-child {
  width: 100%;
}

img.animate_arrow{
  animation: bounce 2s ease alternate infinite;
  animation-delay: 1s;
      position: absolute;
    right: 250px;
    top: 80px;
}

/* Gradient credit: https://codepen.io/mike-schultz */
.gradient-border {
  --borderWidth: 8px;
  background: #1d1f20;
  position: relative;
  width: 100%;
  border-radius: var(--borderWidth);
  transition: opacity 0.5s;
}

.gradient-border--hidden {
  display: none;
  opacity: 0;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  animation-delay: 2s;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-25px);} 
  60% {transform: translateY(-15px);} 
} 

@media only screen and (max-width: 600px) {
  #video {
    width: 100%;
    height: 100%;
  }
}

.mirror-camera {
  position: absolute;
  right: 12px;
  bottom: 15px;
  border-style: none;
  outline: none;
  cursor: pointer;
  background-color: #1d377e;
  border-radius: 100px;
  -webkit-box-shadow: 4px 5px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 5px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 5px 9px 0px rgba(0, 0, 0, 0.75);
  width: 60px;
  height: 60px;
  opacity: 0.4;
  transition: 0.3s;
}

.mirror-camera:hover {
  opacity: 100 !important;
  transition: 0.3s;
}

.mirror-camera img {
  width: 90%;
}

.flip-video {
  transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
}
