html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #1D1F20;
}

#subtitle ,.message-portion{
  color: #eee;
  font-family: 'Raleway';
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-portion{
  padding-top: 20px;
}

#camera {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-family: 'Raleway';
  font-size: 2.5rem;
}

/* Gradient credit: https://codepen.io/mike-schultz */
.gradient-border {
  --borderWidth: 8px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  animation-delay: 2s;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid limegreen; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}