html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #1d1f20;
}

.video-window-wrapper {
	position: relative;
}

#subtitle {
	color: #eee;
	font-family: 'Raleway';
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	position: absolute;
	bottom: -65px;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
}

#camera {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #eee;
	font-family: 'Raleway';
	font-size: 2.5rem;
}

/* Gradient credit: https://codepen.io/mike-schultz */
.gradient-border {
	--borderWidth: 8px;
	background: #1d1f20;
	position: relative;
	width: 100%;
	border-radius: var(--borderWidth);
	transition: opacity 0.5s;
}

.gradient-border--hidden {
	display: none;
	opacity: 0;
}

.gradient-border:after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background: linear-gradient(
		60deg,
		#f79533,
		#f37055,
		#ef4e7b,
		#a166ab,
		#5073b8,
		#1098ad,
		#07b39b,
		#6fba82
	);
	border-radius: calc(2 * var(--borderWidth));
	z-index: -1;
	animation: animatedgradient 3s ease alternate infinite;
	background-size: 300% 300%;
	animation-delay: 2s;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 600px) {
	#video {
		width: 100%;
		height: 100%;
	}
}
